{% extends 'base.html' %}

{% block content %}

<div style="direction: ltr;" class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  <div  class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit book</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form  method="POST" enctype="multipart/form-data">
      
        <div class="card-body">
          {% csrf_token %}
          {{ form.as_p }}
  
          <small id='totalrente' class="form-text text-muted"></small>
        </div>
        <!-- /.card-body -->
  
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">save</button>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}